# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/

/QuickStarts/BankTeller/BankShell/bin
/QuickStarts/BankTeller/BankShell/obj
/QuickStarts/BankTeller/BankTellerCommon/bin
/QuickStarts/BankTeller/BankTellerCommon/obj
/QuickStarts/BankTeller/BankTellerModule/bin
/QuickStarts/BankTeller/BankTellerModule/obj
/QuickStarts/BankTeller/BankTellerModuleExtension/obj
/CABDevExpress.ExtensionKit/obj
/CABDevExpress.ExtensionKit.Tests/obj
/bin
