# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/

/QuickStarts/BankTeller/BankShell/bin/Debug
/QuickStarts/BankTeller/BankShell/obj/Debug
/QuickStarts/BankTeller/BankTellerCommon/bin/Debug
/QuickStarts/BankTeller/BankTellerCommon/obj/Debug
/QuickStarts/BankTeller/BankTellerModule/bin/Debug
/QuickStarts/BankTeller/BankTellerModule/obj/Debug
/QuickStarts/BankTeller/BankTellerModuleExtension/obj/Debug
/bin
