<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="shellitems" type="BankShell.ShellItemsSection, BankShell" />
		<section name="CompositeUI" type="Microsoft.Practices.CompositeUI.Configuration.SettingsSection, Microsoft.Practices.CompositeUI" allowExeDefinition="MachineToLocalUser" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="BankShell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<CompositeUI>
		<!--<visualizer>
			<add type="SampleVisualizations.WorkItemVisualization, SampleVisualizations" />
		</visualizer>-->
		<services>
			<add serviceType="Microsoft.Practices.CompositeUI.Services.IStatePersistenceService, Microsoft.Practices.CompositeUI" instanceType="Microsoft.Practices.CompositeUI.Services.IsolatedStorageStatePersistenceService, Microsoft.Practices.CompositeUI" />
		</services>
	</CompositeUI>
	<shellitems>
		<menuitems>
			<add id="1" site="MainMenu" label="&amp;Help" register="true" registrationsite="Help" />
			<add id="2" site="ToolBar;Help;RibbonPageHeader;RibbonAppMenuBottomPane=SimpleButton" label="&amp;About" glyph="About16" largeglyph="About32" commandname="HelpAboutCommand" key="F1" />
			<add id="3" site="FileDropDown;RibbonAppMenuBottomPane=SimpleButton" label="E&amp;xit" glyph="Exit16" largeglyph="Exit32" commandname="ExitCommand" key="Alt, F4" />
		</menuitems>
	</shellitems>

    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
    </system.webServer>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><userSettings>
        <BankShell.Properties.Settings>
            <setting name="AppSkin" serializeAs="String">
                <value />
            </setting>
        </BankShell.Properties.Settings>
    </userSettings>
</configuration>
